#registor {
    font-family: 'Noto Sans Thai', sans-serif;
    background-image: url('./src/assets/img/BG-2.svg');
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-size: cover;
    .container {
        margin-bottom: 3.5rem;
        margin-top: 3.5rem;
        .role-select {
            border-color: var(--bs-border-color);
        }
        .email-label {
            display: flex;
            justify-content: space-between;
            .req-email {
                display: flex;
                .req-email-text {
                    font-size: 10px;
                    color: red;
                    align-self: flex-end;
                }
            }
        }
        .password-label {
            display: flex;
            justify-content: space-between;
            .req-password {
                display: flex;
                .req-password-text {
                    font-size: 10px;
                    color: red;
                    align-self: flex-end;
                }
            }
        }
        .rePassword-label {
            display: flex;
            justify-content: space-between;
            .req-rePassword {
                display: flex;
                .req-rePassword-text {
                    font-size: 10px;
                    color: red;
                    align-self: flex-end;
                }
            }
        }
    }
    .btn.btn-primary:disabled{
        opacity: 1;
        background-color: #0d6efd70;
        border: #0d6efd70;
    }
    .cancel-button {
        margin-left: 8px;
        margin-right: 8px;
    }
}