#resetPassword {
  background: url(../../../assets/img/BG-1.svg);
  section {
    font-family: "Noto Sans Thai", sans-serif;
    .card {
      margin-top: 4.8rem;
      margin-bottom: 4.8rem;
      .card-header-text {
        font-family: "Noto Sans Thai", sans-serif;
        margin-bottom: 32px;
        margin-top: 8px;
        background: none;
      }
      .card-hr {
        width: 80px;
        margin-top: 0px;
        height: 2px;
        color: var(--bs-primary-text-emphasis);
        margin-bottom: 8px;
      }
      .card-form {
        width: 100%;
        .text-label {
          display: flex;
          justify-content: space-between;
          .req-input {
            display: flex;
            .req-text {
              font-size: 10px;
              color: red;
              align-self: flex-end;
            }
          }
        }
        .input-label {
          text-align: center;
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
