#editPatient {
    .container-fluid {
        font-family: 'Noto Sans Thai', sans-serif;

        h3 {
            margin-top: 24px;
        }

        .form-data {
            .card-header {
                span {
                    color: rgb(220, 53, 69);
                }
            }

            .card-body {
                .part-header {
                    margin-bottom: 16px;

                    .lable-header {
                        color: var(--bs-body-color);
                    }
                }
                .date-picker {
                    display: flex;
                    flex-direction: column;
                    .react-datepicker__day--outside-month {
                        visibility: hidden;
                    }
                }

                .form-label {
                    span {
                        color: rgb(220, 53, 69);
                    }
                }
            }

            .button-area {
                .submit-button {
                    margin-right: 8px;
                    margin-left: 8px;
                }
                .btn.btn-primary:disabled{
                    opacity: 1;
                    background-color: #0d6efd70;
                    border: #0d6efd70;
                }
                .cancel-button {
                    margin-left: 8px;
                    margin-right: 8px;
                }
            }
        }
    }
}