#login {
    background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&amp;w=1772&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-size: cover;
    .card {
      background-color: rgba(255, 255, 255, .5);
      .password-label {
        display: flex;
        justify-content: space-between;
        .forget-password {
          font-size: 14px;
          display: flex;
          a {
            align-self: flex-end;
          }
        }
      }
    }
  }
  
  section {
    font-family: 'Noto Sans Thai', sans-serif;
  }