#login {
    background-image: url('../src/assets/img/BG-1.svg');
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-size: cover;
    .login-card {
      margin-top: 4.7rem;
      margin-bottom: 4.7rem;
      background-color: rgba(255, 255, 255, .5);
      .password-label {
        display: flex;
        justify-content: space-between;
        .forget-password {
          font-size: 14px;
          display: flex;
          a {
            align-self: flex-end;
          }
        }
      }
    }
  }
  
  section {
    font-family: 'Noto Sans Thai', sans-serif;
  }